/* Variables */
:root {
  /* Colors*/
  --primary-color: #f3cf30;
  --secondary-color: #ed7e31;
  --buttons-color: #f4f4f4;

  --light-color: #fff;
  --dark-color: #333;

  --text-color: #222;
  --icon-color: #515;

  --corrent: #52a04a;
  --wrong: #b63333;

  /* Sizes*/
  --questions-text: 1.2rem;
  --answers-text: 1rem;

  --buttons-large-text: 1.3rem;
  --buttons-small-text: 1rem;

  --small-text: 0.9rem;
}

/* Mobile first */

body {
  height: 100vh;
  width: 100vw;
}

header {
  padding: 30px 30px;
  width: calc(100vw - (100vw - 100%));
  height: 10%;
  background-color: #ff6b6b;
}

.navigation {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
}

.navigation__item i {
  margin: 0 5px;
  color: #4ecdc4;
}

.navigation__item:hover i {
  color: #ffe66d;
}

.navigation__item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2em;
  color: #f7fff7;
}
